[Desktop Entry]
Name=1Password
Exec=env -u ELECTRON_OZONE_PLATFORM_HINT /usr/bin/1password --silent %U
Terminal=false
Type=Application
Icon=1password
StartupWMClass=1Password
Comment=Password manager and secure wallet
MimeType=x-scheme-handler/onepassword;
Categories=Office;
